
body {
    font-size: 16px;
    color: #2b283a;
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}

header{
    background-color: #5f29a3;
    padding: 45px 0px;
}

/*  Top Section of Page */

h1{
    color: whitesmoke;
    font-size: 36px;
    margin: 0;
}

h2 {
    margin-top: 0px;

}

h3{
    color: #d0aaff;
    font-size: 20px;
    margin: 0;
}

section {
    padding: 45px 0px;
}

.edgy {
    background-color: #5f29a3;
    color: whitesmoke;

}

.Edgeimg {
    width: 300px;
    border-radius: 4.6px;
}

.edgyimgs{

    display: flex;
    justify-content: space-between;

}

/* Main Page Content  */

.shoes {
    width: 100%;
}

a{
    color: #ef5839;
    text-decoration: underline dotted;
}

a:hover{
    color: #d4b44c;
}

a:active{
    color: #d4b44c;
}

.container {
    width:  620px;
    margin:  0px auto;
}

